/* * {
  margin: 0;
  padding: 0;
}

body {
  background-color: #020631;
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2 {
  color: white;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: grey;
}

 */

 body {
    background-color: #333;
    color: #fff;
 
  
  }
  
  .App {
    text-align: center;
  }
  
  .taskBg {
    background-color: #555;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px 140px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;

  }
  
  .taskBg div {
    display: flex;
    align-items: center;
  }
  
  .taskNumber {
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
  }
  
  .taskBg .taskText {
    flex: 1;
  }
  
  .taskBg .done .taskText {
    text-decoration: line-through;
    opacity: 0.3;
  }
  
  .taskBg .iconsWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
  }
  
  .taskBg .iconsWrap span {
    display: inline-block;
    margin: 0px 10px 0 10px;
    cursor: pointer;
    color: #00ff89;
  }
  
  .taskBg .iconsWrap span:hover {
    color: yellow;
  }
  
  .mr-20 {
    margin-right: 20px;
  }
  